book

verifier/dist
verifier/node_modules
verifier/package-lock.json
verifier/extension/common/verifier.js
extensions

*.ptau
*.r1cs
*.sym
temp
circuit/*.json
data/proofs.json
data/vks.json
circuit/mpt_path_*
circuit/mpt_last_*
circuit/pol_*
circuit/ecdsa_verify_*
circuit/stealth_balance_addition_*
__pycache__

.vscode/
.env

output.json
