@font-face {
  font-family: "Vazir";
  src: url("fonts/Vazir.eot");
  src: url("fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("fonts/Vazir.woff") format("woff"),
    url("fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("fonts/Vazir-Bold.eot");
  src: url("fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Vazir-Bold.woff") format("woff"),
    url("fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Vazir";
  src: url("fonts/Vazir-Light.eot");
  src: url("fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Vazir-Light.woff") format("woff"),
    url("fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
}

* {
  font-family: "Vazir", sans-serif;
  font-size: 14px;
  font-style: normal;
}

h1 {
  font-size: 20px;
  text-align: center;
}

a {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:focus {
  color: white;
}

a:hover,
a:active {
  color: white;
}

button {
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* #verifyButton {
  width: 50%;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;

  position: relative;
  padding: 20px 30px;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 4px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

#verifyButton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

#verifyButton:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
  transition-delay: 0.5s;
}

#verifyButton:hover:after {
  left: 100%;
}

#verifyButton span {
  position: absolute;
  display: block;
  transition: 0.5s ease;
}

#verifyButton span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
}

#verifyButton:hover span:nth-child(1) {
  width: 100%;
  height: 1px;
  transform: translateX(100%);
}

#verifyButton span:nth-child(2) {
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: #fff;
}

#verifyButton:hover span:nth-child(2) {
  height: 100%;
  transform: translateY(100%);
}

#verifyButton span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: #fff;
}

#verifyButton:hover span:nth-child(3) {
  width: 100%;
  height: 1px;
  transform: translateX(-100%);
}

#verifyButton span:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: #fff;
}

#verifyButton:hover span:nth-child(4) {
  height: 100%;
  transform: translateY(-100%);
} */
