.simple-spinner {
	width: 90%;
	height: 30px;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
}

.simple-spinner h4 {
	display: block;
	text-align: center;
}

.simple-spinner span {
	display: block;
	margin: 0 auto;
	width: 30px;
	height: 30px;
	border: 3px solid transparent;
	border-radius: 50%;
	border-right-color: rgba(255, 255, 255, 0.7);
	animation: spinner-anim 0.8s linear infinite;
}

@keyframes spinner-anim {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}